* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-color: lightseagreen;
}

.main {
  background-color: whitesmoke;
}

.footer {
  color: aliceblue;
  background-color: lightseagreen;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.section {
  width: 50%;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 8px;
  line-height: 50px;
  text-decoration: none;
  font-size: 22px;
  color: aliceblue;
  transition: .5s;
}

.nav-link:hover {
  color: lightblue;
}

.image {
  height: 350px;
  width: 300px;
  clip-path: circle(100px at center);
}

.svg-picture {
  width: 80px;
  height: 50px;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: aliceblue;
  transition: .5s;
}

.link:hover {
  color: lightblue;
}

.footer-paragraph {
  font-size: 18px;
}

.section-title {
  color: lightseagreen;
}

.typical-text {
  color: rgb(205, 154, 123);
}

.ul-list {
  margin-left: 0;
  padding-left: 0;
}

.text-link {
  list-style-type: none;
  color: rgb(205, 154, 123);
}

.contact-text {
  color: lightseagreen;
}

.code {
  color: rgb(205, 154, 123);
}

.project-link {
  text-decoration: none;
  color: lightseagreen;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}


